# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
.env

# VSCode/PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Media/uploads (ако имаш)
media/
uploads/

# Миграции кеширани (ако искаш)
*/migrations/__pycache__/
