# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
db.sqlite3

# Env
.env
.env.*

# VSCode/PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
*.swp

# Media/uploads (ако има)
media/
uploads/
