{% extends 'base.html' %}
{% block content %}
<h2>Входящи съобщения</h2>
<a href="{% url 'accounts:send_message' %}" class="btn btn-primary">Изпрати съобщение</a>
<ul class="list-group mt-3">
    {% for msg in messages %}
        <li class="list-group-item">
            <b>От:</b> {{ msg.sender.username }}<br>
            <b>Тема:</b> {{ msg.subject }}<br>
            <b>Изпратено на:</b> {{ msg.date_sent|date:"d.m.Y H:i" }}<br>
            <div>{{ msg.body }}</div>
        </li>
    {% empty %}
        <li class="list-group-item">Нямате съобщения.</li>
    {% endfor %}
</ul>
{% endblock %}
