{% extends "base.html" %}
{% block title %}Събития{% endblock %}

{% block content %}
<h1 class="mb-3">Всички събития</h1>
<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th>Име</th>
        <th>Дата</th>
        <th>Категория</th>
        <th>Организация</th>
        <th>Локация</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.get_category_display }}</td>
        <td>{{ event.organization }}</td>
        <td>{{ event.location }}</td>
        <td>
          <a href="{% url 'events:event-detail' event.pk %}" class="btn btn-primary btn-sm">Детайли</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
